.listContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listResult {
  margin-top: 30px;
  flex: 3;
}
