.shadow-class {
  box-shadow: 6px 4px 20px -4px #e53f198c;
}

.headerSearchInput {
  border: none;
  outline: none;
  width: 25rem;
  color: black;
}
.t-shadow{
  text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.25);
}
