@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
*{
  scroll-behavior: smooth;
}
body {
  background-color: #F8F1F1;
}
@tailwind utilities;